<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0"
       class="container" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
                  max-width: 560px;" width="560">
    <tr>
        <td align="left" class="header" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: bold; line-height: 130%;
                        padding-top: 40px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            Ol&aacute; <span th:text="${nome}"/>
        </td>
    </tr>
    <tr>
        <td align="left" class="subheader" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-bottom: 3px; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 300; line-height: 150%;
                        padding-top: 5px;padding-bottom: 40px;
                        color: #546e7a;
                        font-family: sans-serif;" th:text="${dataEmail}" valign="top">
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#eceff1" class="hero" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;
                        padding-top: 42px;padding-bottom: 42px;" valign="top">
            <img alt="Ative a exibi&ccedil;&atilde;o de imagens para visualiz&aacute;-la" border="0" hspace="0"
                 src="https://files.conexaoclarobrasil.com.br/public/email-asset/alteracao-email-hero.png"
                 style="
                           width: 100%;
                           max-width: 254px;
                           color: #546e7a; font-size: 13px; margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;" vspace="0"
                 width="254"
            />
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            Seu e-mail foi alterado com sucesso
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            Voc&ecirc; solicitou a alteração do seu e-mail de acesso ao
            <b style="color: #546e7a;">Parceiros Online</b>. Segue abaixo os dados de acesso:
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            E-mail antigo:
            <a style="color: #2196f3; font-family: sans-serif; font-size: 16px; font-weight: 400; line-height: 160%;" target="_blank" th:href="'mailto:' + ${emailAntigo}"
               th:text="${emailAntigo}"></a>
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            E-mail novo:
            <a style="color: #2196f3; font-family: sans-serif; font-size: 16px; font-weight: 400; line-height: 160%;" target="_blank" th:href="'mailto:' + ${emailNovo}"
               th:text="${emailNovo}"></a>
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            Acesso:
            <a style="color: #2196f3; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 160%;" target="_blank" th:href="${urlSistema}"
               th:text="${urlSistema}"></a>
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <div style="text-align: center;font-family: sans-serif;font-size: 16px;color: #3b8ad8;background-color: #ddeefd; border-width: 1px; border-style: solid; border-color: #b1d2ee; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; padding: 16px; padding-top: 8px; padding-bottom: 8px; font-weight: 400; line-height: 160%;">
                A qualquer momento, fa&ccedil;a login em sua conta com seu endere&ccedil;o de email.
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" class="line" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                        padding-top: 25px;" valign="top">
            <hr align="center" color="#E0E0E0" noshade="noshade" size="1" style="margin: 0; padding: 0;" width="100%"/>
        </td>
    </tr>
    <tr>
        <td align="center" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 14px; font-weight: 400; line-height: 160%;
                        padding-top: 20px;
                        padding-bottom: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            D&uacute;vidas?
            <a href="mailto:atendimento@xbrain.com.br" style="color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: 400; line-height: 160%;"
               target="_blank">atendimento@xbrain.com.br</a>
        </td>
    </tr>
</table>