<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" class="container" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
                  max-width: 560px;" width="560">
    <tr>
        <td align="left" class="header" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: bold; line-height: 130%;
                                        padding-top: 40px;
                                        color: #546e7a;
                                        font-family: sans-serif;" valign="top">
            Ol&aacute;
            <span th:text="${nome}"/>
        </td>
    </tr>
    <tr>
        <td align="left" class="subheader" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-bottom: 3px; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 300; line-height: 150%;
                        padding-top: 5px;padding-bottom: 40px;
                        color: #546e7a;
                        font-family: sans-serif;" th:text="${dataEmail}" valign="top">
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#eceff1" class="hero" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;
                        padding-top: 42px;padding-bottom: 42px;" valign="top">
            <img alt="Ative a exibi&ccedil;&atilde;o de imagens para visualiz&aacute;-la" border="0" hspace="0"
                 src="https://app.conexaoclarobrasil.com.br/public-files/email-assets/boas-vindas-hero.png"
                 style="
                           width: 100%;
                           max-width: 254px;
                           color: #546e7a; font-size: 13px; margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;" vspace="0" width="254"
            />
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            Seja Bem Vindo ao Conex&atilde;o Claro
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            Estamos enviando um passo a passo para que possam iniciar, da melhor forma poss&iacute;vel, a implanta&ccedil;&atilde;o
            deste
            sistema em sua opera&ccedil;&atilde;o.
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">1&ordm;</b> - Baixe o arquivo de configura&ccedil;&atilde;o (compactado) no link
            a seguir:
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                        padding-top: 5px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a style="text-decoration: none;
          color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" target="_blank"
               th:href="${link}"
               th:text="${link}">
            </a>
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                    padding-top: 5px;
                    color: #546e7a;
                    font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b>
            <span th:text="${senha}"/>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">2&ordm;</b> - Descompacte o arquivo baixado no computador a ser configurado;
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">3&ordm;</b> - Instale e configure a
            <b style="color: #546e7a;">VPN</b>, conforme o v&iacute;deo explicativo a seguir:
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
              padding-top: 5px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=VPN" style="text-decoration: none;
    color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=VPN
            </a>
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 5px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">4&ordm;</b> - Instale e configure o
            <b style="color: #546e7a;">MicroSip</b>, conforme o v&iacute;deo explicativo a seguir:
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
              padding-top: 5px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=MicroSip" style="text-decoration: none;
    color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=MicroSip
            </a>
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 5px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">5&ordm;</b> - Pronto! Os computadores j&aacute; est&atilde;o configurados para
            iniciar o sistema.
        </td>
    </tr>

    <tr>
        <td align="center" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Ap&oacute;s a conclus&atilde;o de todas as etapas de instala&ccedil;&atilde;o,
                clique no bot&atilde;o abaixo para acessar
                o sistema:
            </b>
        </td>
    </tr>

    <tr>
        <td align="center" class="button" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
              padding-top: 25px;
              padding-bottom: 5px;" valign="top">
            <a href="https://vendas.conexaoclarobrasil.com.br" style="text-decoration: none;" target="_blank">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                       style="max-width: 350px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;">
                    <tr>
                        <td align="center" bgcolor="#2196F3"
                            style="padding: 12px 24px; margin: 0; text-decoration: none; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;"
                            valign="middle">
                            <a href="https://vendas.conexaoclarobrasil.com.br" style="text-decoration: none;
                  color: #FFFFFF; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 120%;"
                               target="_blank">
                                Acessar o Conex&atilde;o Claro
                            </a>
                        </td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>

    <tr>
        <td align="center" class="line" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                          padding-top: 15px;" valign="top">
            <hr align="center" color="#E0E0E0" noshade="noshade" size="1" style="margin: 0; padding: 0;" width="100%"/>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 18px; font-weight: 400; line-height: 100%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Informa&ccedil;&otilde;es importantes:</b>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">1&ordm;</b> - O campo
            <b style="color: #546e7a;">Dados NetSales</b> na parte de cadastro da empresa no Parceiros Online deve estar
            preenchido com o nome e o CPF id&ecirc;nticos
            ao do seu login do
            <b style="color: #546e7a;">NetSales</b>.
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">2&ordm;</b> - O login e senha de acesso ao sistema &eacute; o mesmo do Parceiros
            Online, portanto todos os usu&aacute;rios
            devem estar cadastrados no mesmo.
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Aten&ccedil;&atilde;o:</b> O perfil do vendedor cadastrado no item segmenta&ccedil;&atilde;o
            de atua&ccedil;&atilde;o
            no Parceiros Online determinar&aacute; o tipo de evid&ecirc;ncia da venda:
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            - Vendedores cadastrados com os segmentos de atua&ccedil;&atilde;o
            <b style="color: #546e7a;">PME TLV</b> ou
            <b style="color: #546e7a;">TELEVENDAS</b> n&atilde;o estar&aacute; habilitada a fun&ccedil;&atilde;o de
            inserir evid&ecirc;ncia, pois as grava&ccedil;&otilde;es
            j&aacute; ficar&atilde;o vinculadas a venda automaticamente.
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" valign="top">
            - Vendedores cadastrados com os segmentos de atua&ccedil;&atilde;o
            <b style="color: #546e7a;">PME D2D</b>,
            <b style="color: #546e7a;">LOJAS</b> ou
            <b style="color: #546e7a;">PORTA A PORTA</b> ter&aacute; a fun&ccedil;&atilde;o de anexar documenta&ccedil;&atilde;o
            habilitada.
        </td>
    </tr>

    <tr>
        <td align="center" class="line" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                          padding-top: 15px;" valign="top">
            <hr align="center" color="#E0E0E0" noshade="noshade" size="1" style="margin: 0; padding: 0;" width="100%"/>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 18px; font-weight: 400; line-height: 100%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">V&iacute;deos de apoio:</b>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Simulador | CLARO
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Simulador_Claro" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Simulador_Claro
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Simulador | NET
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Simulador_NET" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Simulador_NET
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Tabula&ccedil;&atilde;o | Agendamento
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Agendamento" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Agendamento
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Tabula&ccedil;&atilde;o | Telefonia
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Telefonia" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Telefonia
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Discadora | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Discadora_Vendedor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Discadora_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Click to Call | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Click_To_Call_Vendedor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Click_To_Call_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            N&atilde;o Tabulado | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Nao_Tabulado_Vendedor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Nao_Tabulado_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Indica&ccedil;&atilde;o | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Indicacao_Vendedor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Indicacao_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Agendamento | Venda
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Agendamento_Venda" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Agendamento_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Acompanhamento | Venda
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Acompanhamento_Venda" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Acompanhamento_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                  padding-top: 15px;
                  color: #546e7a;
                  font-family: sans-serif;" valign="top">
            Editar Venda | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                  padding-top: 5px;
                  color: #546e7a;
                  font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Editar_Venda" style="text-decoration: none;
        color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Editar_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                  padding-top: 5px;
                  color: #546e7a;
                  font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Tabula&ccedil;&atilde;o | Venda
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Venda" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Viabilidade Cr&eacute;dito | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Viabilidade_Credito_Vendedor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Viabilidade_Credito_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Tabula&ccedil;&atilde;o | N&atilde;o Venda
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Nao_Venda" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Tabulacao_Nao_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Viabilidade Endere&ccedil;o | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Viabilidade_Endereco" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Viabilidade_Endereco
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Redistribuir Mailing | Supervisor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Redistribuir_Mailing_Supervisor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Redistribuir_Mailing_Supervisor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Cadastrar Mailing | Supervisor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Cadastrar_Mailing_Supervisor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=Cadastrar_Mailing_Supervisor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Pausa | Agendamento
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_agendamento" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_agendamento
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Pausa | Colaborador
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_colaborador" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_colaborador
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Pausa | Grupo
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_grupo" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_grupo
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Pausa | Tipo
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_tipo" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=pausa_tipo
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            Editar Venda | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Link:</b>
            <a href="https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=editar_venda_vendedor" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;"
               target="_blank">
                https://app.conexaoclarobrasil.com.br/public-files/boas-vindas?video=editar_venda_vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" valign="top">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            <div style="text-align: center;font-family: sans-serif;font-size: 16px;color: #3b8ad8;background-color: #ddeefd; border-width: 1px; border-style: solid; border-color: #b1d2ee; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; padding: 16px; padding-top: 8px; padding-bottom: 8px; font-weight: 400; line-height: 160%;">
                Em caso de d&uacute;vidas, por gentileza, entre em contato conosco atrav&eacute;s de nossa central de
                Suporte, estaremos
                a sua total disposi&ccedil;&atilde;o.
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" class="line" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                        padding-top: 25px;" valign="top">
            <hr align="center" color="#E0E0E0" noshade="noshade" size="1" style="margin: 0; padding: 0;" width="100%"/>
        </td>
    </tr>
    <tr>
        <td align="center" class="paragraph" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 14px; font-weight: 400; line-height: 160%;
                        padding-top: 20px;
                        padding-bottom: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" valign="top">
            D&uacute;vidas?
            <a href="mailto:suporte@conexaoclarobrasil.com.br" style="color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: 400; line-height: 160%;"
               target="_blank">suporte@conexaoclarobrasil.com.br</a>
        </td>
    </tr>
</table>
