<table border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFFFFF" width="560" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
                  max-width: 560px;" class="container">
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: bold; line-height: 130%;
                                        padding-top: 40px;
                                        color: #546e7a;
                                        font-family: sans-serif;" class="header">
            Ol&aacute;
            <span th:text="${nome}" />
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-bottom: 3px; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 300; line-height: 150%;
                        padding-top: 5px;padding-bottom: 40px;
                        color: #546e7a;
                        font-family: sans-serif;" class="subheader" th:text="${dataEmail}">
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" bgcolor="#eceff1" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;
                        padding-top: 42px;padding-bottom: 42px;" class="hero">
            <img border="0" vspace="0" hspace="0" src="https://estatico.xbrain.com.br/conexao_claro_brasil/arquivos/emails/assets/boas-vindas-hero.png"
                 alt="Ative a exibi&ccedil;&atilde;o de imagens para visualiz&aacute;-la" width="254" style="
                           width: 100%;
                           max-width: 254px;
                           color: #546e7a; font-size: 13px; margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;"
            />
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            Seja Bem Vindo ao Conex&atilde;o Claro Brasil
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            Estamos enviando um passo a passo para que possam iniciar, da melhor forma poss&iacute;vel, a implanta&ccedil;&atilde;o deste
            sistema em sua opera&ccedil;&atilde;o.
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">1&ordm;</b> - Baixe o arquivo de configura&ccedil;&atilde;o (compactado) no link a seguir:
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                        padding-top: 5px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
          color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" th:href="${link}"
               th:text="${link}">
            </a>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                    padding-top: 5px;
                    color: #546e7a;
                    font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b>
            <span th:text="${senha}" />
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">2&ordm;</b> - Descompacte o arquivo baixado no computador a ser configurado;
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">3&ordm;</b> - Instale e configure a
            <b style="color: #546e7a;">VPN</b>, conforme o v&iacute;deo explicativo a seguir:
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
              padding-top: 5px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
    color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=VPN">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=VPN
            </a>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 5px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">4&ordm;</b> - Instale e configure o
            <b style="color: #546e7a;">MicroSip</b>, conforme o v&iacute;deo explicativo a seguir:
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
              padding-top: 5px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
    color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=MicroSip">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=MicroSip
            </a>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 5px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">5&ordm;</b> - Pronto! Os computadores j&aacute; est&atilde;o configurados para iniciar o sistema.
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Ap&oacute;s a conclus&atilde;o de todas as etapas de instala&ccedil;&atilde;o, clique no bot&atilde;o abaixo para acessar
                o sistema:
            </b>
            </b>
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
              padding-top: 25px;
              padding-bottom: 5px;" class="button">
            <a href="https://vendas.conexaoclarobrasil.com.br" target="_blank" style="text-decoration: none;">
                <table border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 350px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;">
                    <tr>
                        <td align="center" valign="middle" style="padding: 12px 24px; margin: 0; text-decoration: none; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;"
                            bgcolor="#ed2c23">
                            <a target="_blank" style="text-decoration: none;
                  color: #FFFFFF; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 120%;" href="https://vendas.conexaoclarobrasil.com.br">
                                Acessar o Conex&atilde;o Claro Brasil
                            </a>
                        </td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                          padding-top: 15px;" class="line">
            <hr color="#E0E0E0" align="center" width="100%" size="1" noshade="noshade" style="margin: 0; padding: 0;" />
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 18px; font-weight: 400; line-height: 100%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Informa&ccedil;&otilde;es importantes:</b>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">1&ordm;</b> - O campo
            <b style="color: #546e7a;">Dados NetSales</b> na parte de cadastro da empresa no Parceiros Online deve estar preenchido com o nome e o CPF id&ecirc;nticos
            ao do seu login do
            <b style="color: #546e7a;">NetSales</b>.
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">2&ordm;</b> - O login e senha de acesso ao sistema &eacute; o mesmo do Parceiros Online, portanto todos os usu&aacute;rios
            devem estar cadastrados no mesmo.
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Aten&ccedil;&atilde;o:</b> O perfil do vendedor cadastrado no item segmenta&ccedil;&atilde;o de atua&ccedil;&atilde;o
            no Parceiros Online determinar&aacute; o tipo de evid&ecirc;ncia da venda:
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            - Vendedores cadastrados com os segmentos de atua&ccedil;&atilde;o
            <b style="color: #546e7a;">PME TLV</b> ou
            <b style="color: #546e7a;">TELEVENDAS</b> n&atilde;o estar&aacute; habilitada a fun&ccedil;&atilde;o de inserir evid&ecirc;ncia, pois as grava&ccedil;&otilde;es
            j&aacute; ficar&atilde;o vinculadas a venda automaticamente.
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
              padding-top: 15px;
              color: #546e7a;
              font-family: sans-serif;" class="paragraph">
            - Vendedores cadastrados com os segmentos de atua&ccedil;&atilde;o
            <b style="color: #546e7a;">PME D2D</b>,
            <b style="color: #546e7a;">LOJAS</b> ou
            <b style="color: #546e7a;">PORTA A PORTA</b> ter&aacute; a fun&ccedil;&atilde;o de anexar documenta&ccedil;&atilde;o habilitada.
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                          padding-top: 15px;" class="line">
            <hr color="#E0E0E0" align="center" width="100%" size="1" noshade="noshade" style="margin: 0; padding: 0;" />
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 18px; font-weight: 400; line-height: 100%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">V&iacute;deos de apoio:</b>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Simulador | CLARO
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Simulador_Claro">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Simulador_Claro
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Simulador | NET
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Simulador_NET">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Simulador_NET
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Tabula&ccedil;&atilde;o | Agendamento
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Agendamento">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Agendamento
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Tabula&ccedil;&atilde;o | Telefonia
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Telefonia">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Telefonia
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Discadora | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Discadora_Vendedor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Discadora_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Click to Call | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Click_To_Call_Vendedor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Click_To_Call_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            N&atilde;o Tabulado | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Nao_Tabulado_Vendedor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Nao_Tabulado_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Indica&ccedil;&atilde;o | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Indicacao_Vendedor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Indicacao_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Agendamento | Venda
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Agendamento_Venda">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Agendamento_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Acompanhamento | Venda
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Acompanhamento_Venda">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Acompanhamento_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Tabula&ccedil;&atilde;o | Venda
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Venda">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Viabilidade Cr&eacute;dito | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Viabilidade_Credito_Vendedor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Viabilidade_Credito_Vendedor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Tabula&ccedil;&atilde;o | N&atilde;o Venda
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Nao_Venda">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Tabulacao_Nao_Venda
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Viabilidade Endere&ccedil;o | Vendedor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Viabilidade_Endereco">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Viabilidade_Endereco
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Redistribuir Mailing | Supervisor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Redistribuir_Mailing_Supervisor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Redistribuir_Mailing_Supervisor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 15px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            Cadastrar Mailing | Supervisor
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 100%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Link:</b>
            <a target="_blank" style="text-decoration: none;
                color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: normal; line-height: 120%;" href="https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Cadastrar_Mailing_Supervisor">
                https://estatico.conexaoclarobrasil.com.br/email/boas-vindas?video=Cadastrar_Mailing_Supervisor
            </a>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                          padding-top: 5px;
                          color: #546e7a;
                          font-family: sans-serif;" class="paragraph">
            <b style="color: #546e7a;">Senha:</b> cTbtUeDH
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <div style="text-align: center;font-family: sans-serif;font-size: 16px;color: #3b8ad8;background-color: #ddeefd; border-width: 1px; border-style: solid; border-color: #b1d2ee; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; padding: 16px; padding-top: 8px; padding-bottom: 8px; font-weight: 400; line-height: 160%;">
                Em caso de d&uacute;vidas, por gentileza, entre em contato conosco atrav&eacute;s de nossa central de Suporte, estaremos
                a sua total disposi&ccedil;&atilde;o.
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                        padding-top: 25px;" class="line">
            <hr color="#E0E0E0" align="center" width="100%" size="1" noshade="noshade" style="margin: 0; padding: 0;" />
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 14px; font-weight: 400; line-height: 160%;
                        padding-top: 20px;
                        padding-bottom: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            D&uacute;vidas?
            <a href="mailto:suporte@conexaoclarobrasil.com.br" target="_blank" style="color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: 400; line-height: 160%;">suporte@conexaoclarobrasil.com.br</a>
        </td>
    </tr>
</table>
