<table border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFFFFF"
       width="560" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
                  max-width: 560px;" class="container">
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: bold; line-height: 130%;
                        padding-top: 40px;
                        color: #546e7a;
                        font-family: sans-serif;" class="header">
            Ol&aacute; <span th:text="${nome}"/>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-bottom: 3px; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 300; line-height: 150%;
                        padding-top: 5px;padding-bottom: 40px;
                        color: #546e7a;
                        font-family: sans-serif;" class="subheader" th:text="${dataEmail}">
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" bgcolor="#eceff1" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;
                        padding-top: 42px;padding-bottom: 42px;" class="hero">
            <img border="0" vspace="0" hspace="0" src="https://estatico.xbrain.com.br/conexao_claro_brasil/arquivos/emails/assets/alteracao-senha-hero.png"
                 alt="Ative a exibi&ccedil;&atilde;o de imagens para visualiz&aacute;-la" width="254"
                 style="
                           width: 100%;
                           max-width: 254px;
                           color: #546e7a; font-size: 13px; margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;"
            />
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            Sua senha foi alterada com sucesso
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">

            Voc&ecirc; solicitou uma nova senha de acesso ao
            <b style="color: #546e7a;">Conex&atilde;o Claro Brasil</b>. Segue abaixo os dados de acesso:
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            Login:
            <a th:href= "'mailto:' + ${email}" th:text="${email}" target="_blank" style="color: #2196f3; font-family: sans-serif; font-size: 16px; font-weight: 400; line-height: 160%;"></a>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            Senha:
            <b style="color: #546e7a;" th:text="${senha}"></b>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 15px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            Acesso:
            <a th:href="${urlSistema}" th:text="${urlSistema}" target="_blank" style="color: #2196f3; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 160%;"></a>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 16px; font-weight: 400; line-height: 160%;
                        padding-top: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            <div style="text-align: center;font-family: sans-serif;font-size: 16px;color: #d94e4e;background-color: #ffe6e8; border-width: 1px; border-style: solid; border-color: #f2c2c7; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; padding: 16px; padding-top: 8px; padding-bottom: 8px; font-weight: 400; line-height: 160%;">
                Para sua maior seguran&ccedil;a, lembre-se de realizar a troca peri&oacute;dica da
                sua senha.
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                        padding-top: 25px;" class="line">
            <hr color="#E0E0E0" align="center" width="100%" size="1" noshade="noshade" style="margin: 0; padding: 0;"/>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 14px; font-weight: 400; line-height: 160%;
                        padding-top: 20px;
                        padding-bottom: 25px;
                        color: #546e7a;
                        font-family: sans-serif;" class="paragraph">
            D&uacute;vidas?
            <a href="mailto:atendimento@xbrain.com.br" target="_blank" style="color: #2196f3; font-family: sans-serif; font-size: 14px; font-weight: 400; line-height: 160%;">atendimento@xbrain.com.br</a>
        </td>
    </tr>
</table>